// base styles
@import "pieces/normalize";
@import "pieces/vars";
@import "pieces/mixins";
@import "pieces/classes";
@import "pieces/base";
@import "pieces/typography";


body {
	background: darken(#00f, 46%);
	color: #ebebeb;
	margin: 0;
	overflow: hidden;
}
canvas {
	background: transparent;
}

#app {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
.canvas-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1rem;
	margin-bottom: 3rem;
}


#controls-wrapper {
	display: none;
}
// @include mq(netbook) {
// 	#controls {
// 		padding-left: 2rem;
// 		@include flex(1);
// 		li {
// 			list-style: none;
// 			margin-bottom: 0.65rem;
// 		}
// 	}
// }


//fonts
@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

#atom {
  color: #ccc;
	position: relative;
}
#symbol {
	font-size: 3.25rem;
	color: #ebebeb;
	margin-bottom: 0.125rem;
}
#name {
	color: darken(#ebebeb, 10%);
	margin-bottom: 0.25rem;
}
#weight {
	font-size: 0.875rem;
}
#electron-config {
	position: absolute;
	top: 0;
	right: 0;
	list-style: none;
	li {
		margin-bottom: 0.5rem;
	}
}

p, input {
	margin-bottom: 0;
}
.toggle {
	@include hover();
}

#header {
	padding: 1rem;
	position: absolute;
	top: 0;
	width: 100%;
	h1 {
		font-size: 0.75rem;
		text-transform: uppercase;
	}
}

#footer {
	padding: 1em 1rem;
	font-size: 0.75em;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
}

#header, #footer {
	z-index: 10;
}


#search {
	// text-align: right;
}
#model, #table {
	// background: tomato;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}


#help {
}



