// base styles
@import "pieces/normalize";
@import "pieces/vars";
@import "pieces/mixins";
@import "pieces/classes";
@import "pieces/base";
@import "pieces/typography";


//fonts
@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


body {
  font-family: 'RobotoLight';
	background: darken(#00f, 46%);
	color: #ebebeb;
	margin: 0;
	overflow: hidden;
}
canvas {
	background: transparent;
}

li input[type="checkbox"] {
	margin: 0 1rem 0 0;
}
#controls {
	h2, ul {
		margin-bottom: 1rem;
	}
	li {
		margin-bottom: 0.5rem;
	}
	div li {
		font-style: italic;
	}
}

#controls-list {
	list-style: none;
}
#app {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
.canvas-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1rem;
	margin-bottom: 3rem;
}

#controls-wrapper {
	padding: 3rem 1rem;
}

#controls {
	line-height: 1.4;
	max-width: 15rem;
}
input[type="text"] {
	background: #111;
	color: #888;
	border: 1px solid #668;
	border-radius: 4px;
	padding: 0.35rem;
	font-size: 0.875rem;
	margin: 1rem 0;
	@include transition(color, 0.3s);
	&:focus {
		color: #ebebeb;
	}
}


#atom {
  color: #ccc;
	position: relative;
}
#symbol {
	font-size: 3.25rem;
	color: #ebebeb;
	margin-bottom: 0.125rem;
}
#name {
	color: darken(#ebebeb, 10%);
	margin-bottom: 0.25rem;
}
#weight {
	font-size: 0.875rem;
}
#electron-config {
	position: absolute;
	top: 0;
	right: 0;
	list-style: none;
	li {
		margin-bottom: 0.5rem;
	}
}

p, input {
	margin-bottom: 0;
}
.toggle {
	@include hover();
}

#header {
	padding: 1rem;
	position: absolute;
	top: 0;
	width: 100%;
	h1 {
		font-size: 0.75rem;
		text-transform: uppercase;
	}
}

#footer {
	padding: 1em 1rem;
	font-size: 0.75em;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
}

#header, #footer {
	z-index: 10;
}


#search {
	// text-align: right;
}
#model, #table {
	// background: tomato;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
#table
{
	z-index:2;
}


#help {
}



