// base styles
@import "pieces/normalize";
@import "pieces/vars";
@import "pieces/mixins";
@import "pieces/classes";
@import "pieces/base";
@import "pieces/typography";


#app {
	margin: 0 auto;
	@include mq(netbook) {
		width: 90%;
		@include flexbox();
		// align-items: flex-end;
	}
}


@include mq(netbook) {
	#controls {
		padding-left: 2rem;
		@include flex(1);
		li {
			list-style: none;
			margin-bottom: 0.65rem;
		}
	}
}


//fonts
@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

#atom-wrapper {
	padding: 1rem;
	position: relative;
}
#table-wrapper {
	padding: 1rem;
	position: relative;
}
#atom {
  color: #ccc;
	position: relative;
}
#symbol {
	font-size: 3.25rem;
	color: #ebebeb;
	margin-bottom: 0.125rem;
}
#name {
	color: darken(#ebebeb, 10%);
	margin-bottom: 0.25rem;
}
#weight {
	font-size: 0.875rem;
}
#electron-config {
	position: absolute;
	top: 0;
	right: 0;
	list-style: none;
	li {
		margin-bottom: 0.5rem;
	}
}

p, input {
	margin-bottom: 0;
}
.toggle {
	@include hover();
}
#main {
}
#header {
	padding: 1rem;
	@include flexbox();
	h1, form {
		@include flex(1);
	}
}
h1 {
	font-size: 0.75rem;
	text-transform: uppercase;
}


#search {
	text-align: right;
}
#model, #table {
	background: tomato;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#footer {
	padding: 1em 1rem;
	font-size: 0.75em;
}
#help {
}



