!!! 5
head
	title Mendeleev
	meta(name="description", content="Mendeleev - Interactive atom viewer")
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	script(src="js/libs/modernizr.js")
	link(rel="stylesheet", href="style/style.css")


body#mendeleev
	a(href="#main", class="assistive-text") Skip to main content
	div.container
		div#main
			header#header
				h1 Mendeleev
				form#search
					input(type="text", placeholder="Search element...")
			div#app
				div#loader

				div#atom-wrapper
					section#atom
						p#number 12
						h2.t5#symbol C
						h3.t6#name Carbon
						p#weight 12.001
						ul#electron-config
							li 2
							li 4
					canvas#model
						p Hey, you should get a newer browser. Download Firefox or Chrome to see a cool 3D model here

				div#other
					h2 Things
					p view another element
				div#help
					span.toggle#help-toggle &quest;
					section#controls
						h2.t6 Controls
						p Rotate around the camera with the mouse or swipes on mobile
						p pinch to zoom
						p tap to fade out GUI
						form#got-it
							label
								span Got it
								input(type="checkbox", value="got-it")
				

			footer#footer
				h2 Luis Rosario - 2014
				p Made with Three.js, Modernizr, &amp; SASS

	script(src="js/libs/three.min.js")
	script(src="js/main.js")
</html>
